In [16]:
import pandas as pd
import numpy as np
import datetime
import re
import os

In [17]:
# create a few statistic df
stat_columns = ['entity_name', 'batch_num', 'error_type']
df_valid = pd.DataFrame(columns=stat_columns)
df_Hrat = pd.DataFrame(columns=stat_columns)
df_Amnt = pd.DataFrame(columns=stat_columns)
df_Gend = pd.DataFrame(columns=stat_columns)

In [28]:
def validate_batch(batch_file):
    
    DTYPE={
    0:  str,      # RecNum                ## str in original schema
    1:  int,      # FiscalYear            ## str in original schema
    2:  str,      # entity name
    3:  str,      # Fund1
    4:  str,      # Fund2
    5:  str,      # Fund3
    6:  str,      # Fund4
    7:  str,      # Org1
    8:  str,      # Org2
    9:  str,      # Org3
    10: str,      # Org4
    11: str,      # Org5
    12: str,      # Org6
    13: str,      # Org7
    14: str,      # Org8
    15: str,      # Org9
    16: str,      # Org10
    17: str,      # Trans Type
    18: str,      # Cat1                  ## conditional
    19: str,      # Cat2
    20: str,      # Cat3
    21: str,      # Cat4
    22: str,      # Cat5
    23: str,      # Cat6
    24: str,      # Cat7
    25: str,      # PCV name              ## conditional
    26: str,      # DBA
    27: str,      # vndr Id
#   28: str,      # posting date
    29: str,      # Trans Desc
    30: str,      # transaction ID
    31: str,      # ref id
    32: str,      # contact name
    33: str,      # contract num
    34: str,      # title
    35: str, # hourly rate           ## float take NAs
    36: str,      # gender
    37: str, # amount
    38: str,      # masked
    39: str,      # UCA
            }


    #path_str = "H:/Transparency/Transparent Utah 3.0/Raw Batches/rawBatch/_data_56125.txt"
    #path_str = "H:/Transparency/Transparent Utah 3.0/Raw Batches/rawBatch/" + batch_file
    path_str = batch_file
    #batch_num =re.search("\d{5}(?=.txt$)",path_str).group()
    batch_num =re.search("(?<=\/)(\s|\w)*(?=.txt$)",path_str).group()
    batch_name  = 'batch_'+batch_num 



    df=pd.read_csv(path_str,
                   header=None, sep='|',
                   thousands=',',
                   low_memory=False,
                   parse_dates=[28],
                   encoding='cp1252',
                   dtype=DTYPE
                  )




    info = [
        'RcNm', 'FsYr', 'Name',
        'Fnd1', 'Fnd2', 'Fnd3', 'Fnd4',
        'Org1', 'Org2', 'Org3', 'Org4', 'Org5', 'Org6', 'Org7', 'Org8', 'Org9', 'OrgX',
        'Type',
        'Cat1', 'Cat2', 'Cat3', 'Cat4', 'Cat5', 'Cat6', 'Cat7',
        'Vndr', 'VDBA', 'VIDC', 'Pdat', 'Desc', 'TID', 'TRef', 'Cnam', 'Cnum', 'PTit', 'Hrat', 'Gend', 'Amnt', 'PI',
    ]
    uca = [ 'UCA', ]
    psd = [
        'Prg1', 'Prg2', 'Prg3', 'Prg4', 'Prg5', 'Prg6', 'Prg7',
        'Fnc1', 'Fnc2', 'Fnc3', 'Fnc4', 'Fnc5', 'Fnc6', 'Fnc7',
    ]
    COLLEN = len(df.columns)

    if COLLEN == 40:
        info += uca
    elif COLLEN == 54:
        info += uca + psd
        PSD = True

    elif COLLEN ==41:
        info += uca + ['EMPTY']

    elif COLLEN ==55:
        info += uca + psd + ['EMPTY']
        PSD = True


    df.rename(inplace=True, columns=lambda x: info[x])
    
    #get the entity name
    ent_name = df.iloc[1,2]
    
    
    # validate the Hourly Rate field ---------------------------------------------------------------------------------------

    #Find the hourly rates, and if it is an " " (whitespace)string, replace it with an empty string ""  
    #Once flagged, we convert it to a 0. 

    # write regex for all non numeric characters. 
    if len(df[df['Hrat'] == ' '].index) > 0 :
    
        print(ent_name + " with "+ batch_name+' has Hrat with \' \' entries. Correcting them and converting to numeric')    
    
        #write to global df
        df_Hrat.loc[len(df_Hrat)] = [ent_name, batch_num, 'entries with \' \'']

        #replace the empty string and convert to numeric.
        df.loc[df.Hrat == ' ', 'Hrat'] = ''
        df['Hrat'] = df['Hrat'].str.replace(',','')
        df['Hrat'] = pd.to_numeric(df['Hrat'],errors='coerce')
    
    else:
        print(batch_name+' Converting to numeric')
        df['Hrat'] = df['Hrat'].str.replace(',','')
        df['Hrat'] = pd.to_numeric(df['Hrat'],errors='coerce')

        #now check that the the Transaction type = PY
  #      if len( df[df['Type'] != 'PY' & df['Hrat'] != 0] ) > 0 : 
#
 #            print(ent_name + " with "+ batch_name+' has Hrat entires without trans Type = PY. Flag and write to error df')    

  #          #write to global df
  #          df_Hrat.loc[len(df_Hrat)] = [ent_name, batch_num, 'transaction type != PY']
  #      else:
        print(batch_name+' has Hrat with no errors. writing info to success df')
        df_valid.loc[len(df_valid)] = [ent_name, batch_num, 'pass']

In [19]:
import glob
batches = glob.glob("H:\\Transparency\\Transparent Utah 3.0\\Raw Batches\\rawBatch\\*.txt")
print(batches[1:5])

['H:\\Transparency\\Transparent Utah 3.0\\Raw Batches\\rawBatch\\2019Q4V2TransparencyExpSLCo.txt', 'H:\\Transparency\\Transparent Utah 3.0\\Raw Batches\\rawBatch\\CPHD 1st Qtr 2020 revised.txt', 'H:\\Transparency\\Transparent Utah 3.0\\Raw Batches\\rawBatch\\FY18 Transparency.txt', 'H:\\Transparency\\Transparent Utah 3.0\\Raw Batches\\rawBatch\\FY20P08_state.txt']

In [29]:
validate_batch("H:/Transparency/Transparent Utah 3.0/Raw Batches/rawBatch/_data_56125.txt")

Mountain Green Sewer Improvement District with batch__data_56125 has Hrat with ' ' entries. Correcting them and converting to numeric

In [30]:
for batch in batches[50:150]:
    #print(batch)
    batch = re.sub("\\\\","/",batch) 
    #print(batch)
    validate_batch(batch)

batch__data_58762 Converting to numeric
batch__data_58762 has Hrat with no errors. writing info to success df
batch__data_58821 Converting to numeric
batch__data_58821 has Hrat with no errors. writing info to success df
batch__data_58834 Converting to numeric
batch__data_58834 has Hrat with no errors. writing info to success df
batch__data_58871 Converting to numeric
batch__data_58871 has Hrat with no errors. writing info to success df
batch__data_58876 Converting to numeric
batch__data_58876 has Hrat with no errors. writing info to success df
batch__data_58919 Converting to numeric
batch__data_58919 has Hrat with no errors. writing info to success df
batch__data_58922 Converting to numeric
batch__data_58922 has Hrat with no errors. writing info to success df
batch__data_58938 Converting to numeric
batch__data_58938 has Hrat with no errors. writing info to success df
batch__data_58956 Converting to numeric
batch__data_58956 has Hrat with no errors. writing info to success df
batch__data_58959 Converting to numeric
batch__data_58959 has Hrat with no errors. writing info to success df
batch__data_58972 Converting to numeric
batch__data_58972 has Hrat with no errors. writing info to success df
batch__data_58974 Converting to numeric
batch__data_58974 has Hrat with no errors. writing info to success df
batch__data_59058 Converting to numeric
batch__data_59058 has Hrat with no errors. writing info to success df
batch__data_59068 Converting to numeric
batch__data_59068 has Hrat with no errors. writing info to success df
batch__data_59081 Converting to numeric
batch__data_59081 has Hrat with no errors. writing info to success df
batch__data_59130 Converting to numeric
batch__data_59130 has Hrat with no errors. writing info to success df
batch__data_59229 Converting to numeric
batch__data_59229 has Hrat with no errors. writing info to success df
batch__data_59238 Converting to numeric
batch__data_59238 has Hrat with no errors. writing info to success df
batch__data_59242 Converting to numeric
batch__data_59242 has Hrat with no errors. writing info to success df
batch__data_59305 Converting to numeric
batch__data_59305 has Hrat with no errors. writing info to success df
batch__data_59306 Converting to numeric
batch__data_59306 has Hrat with no errors. writing info to success df
batch__data_59348 Converting to numeric
batch__data_59348 has Hrat with no errors. writing info to success df
batch__data_59373 Converting to numeric
batch__data_59373 has Hrat with no errors. writing info to success df
batch__data_59380 Converting to numeric
batch__data_59380 has Hrat with no errors. writing info to success df
batch__data_59436 Converting to numeric
batch__data_59436 has Hrat with no errors. writing info to success df
batch__data_59440 Converting to numeric
batch__data_59440 has Hrat with no errors. writing info to success df
batch__data_59446 Converting to numeric
batch__data_59446 has Hrat with no errors. writing info to success df
batch__data_59466 Converting to numeric
batch__data_59466 has Hrat with no errors. writing info to success df
batch__data_59473 Converting to numeric
batch__data_59473 has Hrat with no errors. writing info to success df
batch__data_59498 Converting to numeric
batch__data_59498 has Hrat with no errors. writing info to success df
batch__data_59501 Converting to numeric
batch__data_59501 has Hrat with no errors. writing info to success df
batch__data_59608 Converting to numeric
batch__data_59608 has Hrat with no errors. writing info to success df
batch__data_59614 Converting to numeric
batch__data_59614 has Hrat with no errors. writing info to success df
Military Installation Development Authority with batch__data_59617 has Hrat with ' ' entries. Correcting them and converting to numeric
Moab City with batch__data_59623 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_59653 Converting to numeric
batch__data_59653 has Hrat with no errors. writing info to success df
batch__data_59654 Converting to numeric
batch__data_59654 has Hrat with no errors. writing info to success df
batch__data_59727 Converting to numeric
batch__data_59727 has Hrat with no errors. writing info to success df
batch__data_59728 Converting to numeric
batch__data_59728 has Hrat with no errors. writing info to success df
Noth Summit School District with batch__data_59749 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_59756 Converting to numeric
batch__data_59756 has Hrat with no errors. writing info to success df
batch__data_59792 Converting to numeric
batch__data_59792 has Hrat with no errors. writing info to success df
batch__data_59852 Converting to numeric
batch__data_59852 has Hrat with no errors. writing info to success df
batch__data_59890 Converting to numeric
batch__data_59890 has Hrat with no errors. writing info to success df
batch__data_59909 Converting to numeric
batch__data_59909 has Hrat with no errors. writing info to success df
batch__data_59991 Converting to numeric
batch__data_59991 has Hrat with no errors. writing info to success df
batch__data_60007 Converting to numeric
batch__data_60007 has Hrat with no errors. writing info to success df
batch__data_60031 Converting to numeric
batch__data_60031 has Hrat with no errors. writing info to success df
batch__data_60125 Converting to numeric
batch__data_60125 has Hrat with no errors. writing info to success df
batch__data_60126 Converting to numeric
batch__data_60126 has Hrat with no errors. writing info to success df
batch__data_60135 Converting to numeric
batch__data_60135 has Hrat with no errors. writing info to success df
batch__data_60145 Converting to numeric
batch__data_60145 has Hrat with no errors. writing info to success df
batch__data_60192 Converting to numeric
batch__data_60192 has Hrat with no errors. writing info to success df
batch__data_60243 Converting to numeric
batch__data_60243 has Hrat with no errors. writing info to success df
batch__data_60299 Converting to numeric
batch__data_60299 has Hrat with no errors. writing info to success df
batch__data_60310 Converting to numeric
batch__data_60310 has Hrat with no errors. writing info to success df
batch__data_60352 Converting to numeric
batch__data_60352 has Hrat with no errors. writing info to success df
batch__data_60362 Converting to numeric
batch__data_60362 has Hrat with no errors. writing info to success df
Millville City with batch__data_60398 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60401 Converting to numeric
batch__data_60401 has Hrat with no errors. writing info to success df
batch__data_60402 Converting to numeric
batch__data_60402 has Hrat with no errors. writing info to success df
8F Hawthorn Academy with batch__data_60418 has Hrat with ' ' entries. Correcting them and converting to numeric
6H Promontory School of Expeditionary Learning with batch__data_60425 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60432 Converting to numeric
batch__data_60432 has Hrat with no errors. writing info to success df
batch__data_60444 Converting to numeric
batch__data_60444 has Hrat with no errors. writing info to success df
8C Mountainville Academy with batch__data_60447 has Hrat with ' ' entries. Correcting them and converting to numeric
2C InTech Collegiate High School  with batch__data_60448 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60451 Converting to numeric
batch__data_60451 has Hrat with no errors. writing info to success df
3I Leadership Learning Academy with batch__data_60452 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60456 Converting to numeric
batch__data_60456 has Hrat with no errors. writing info to success df
batch__data_60461 Converting to numeric
batch__data_60461 has Hrat with no errors. writing info to success df
batch__data_60468 Converting to numeric
batch__data_60468 has Hrat with no errors. writing info to success df
9F Mountain Heights Academy with batch__data_60470 has Hrat with ' ' entries. Correcting them and converting to numeric
5J Mountain West Montessori Academy with batch__data_60471 has Hrat with ' ' entries. Correcting them and converting to numeric

A6 North Davis Prep Academy with batch__data_60476 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60477 Converting to numeric
batch__data_60477 has Hrat with no errors. writing info to success df
1F Quest Academy with batch__data_60478 has Hrat with ' ' entries. Correcting them and converting to numeric
4I Mana Academy  with batch__data_60483 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60492 Converting to numeric
batch__data_60492 has Hrat with no errors. writing info to success df
batch__data_60493 Converting to numeric
batch__data_60493 has Hrat with no errors. writing info to success df
batch__data_60496 Converting to numeric
batch__data_60496 has Hrat with no errors. writing info to success df
batch__data_60498 Converting to numeric
batch__data_60498 has Hrat with no errors. writing info to success df
3L Leadership Academy of Utah with batch__data_60525 has Hrat with ' ' entries. Correcting them and converting to numeric
68 Ogden Prep. Academy with batch__data_60541 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60550 Converting to numeric
batch__data_60550 has Hrat with no errors. writing info to success df
8E Merit Preparatory Academy  with batch__data_60560 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60561 Converting to numeric
batch__data_60561 has Hrat with no errors. writing info to success df
batch__data_60567 Converting to numeric
batch__data_60567 has Hrat with no errors. writing info to success df
batch__data_60625 Converting to numeric
batch__data_60625 has Hrat with no errors. writing info to success df
Karl G. Maeser Prep Academy with batch__data_60683 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60699 Converting to numeric
batch__data_60699 has Hrat with no errors. writing info to success df
batch__data_60708 Converting to numeric
batch__data_60708 has Hrat with no errors. writing info to success df
batch__data_60711 Converting to numeric
batch__data_60711 has Hrat with no errors. writing info to success df
batch__data_60712 Converting to numeric
batch__data_60712 has Hrat with no errors. writing info to success df
Kanarraville Town with batch__data_60718 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60725 Converting to numeric
batch__data_60725 has Hrat with no errors. writing info to success df
5C Legacy Preparatory Academy with batch__data_60727 has Hrat with ' ' entries. Correcting them and converting to numeric
batch__data_60736 Converting to numeric
batch__data_60736 has Hrat with no errors. writing info to success df
batch__data_60742 Converting to numeric
batch__data_60742 has Hrat with no errors. writing info to success df
batch__data_60754 Converting to numeric
batch__data_60754 has Hrat with no errors. writing info to success df

In [35]:
df_Hrat

                                    entity_name    batch_num        error_type
0     Mountain Green Sewer Improvement District  _data_56125  entries with ' '
1   Military Installation Development Authority  _data_59617  entries with ' '
2                                     Moab City  _data_59623  entries with ' '
3                   Noth Summit School District  _data_59749  entries with ' '
4                                Millville City  _data_60398  entries with ' '
..                                          ...          ...               ...
57                       68 Ogden Prep. Academy  _data_60541  entries with ' '
58                8E Merit Preparatory Academy   _data_60560  entries with ' '
59                  Karl G. Maeser Prep Academy  _data_60683  entries with ' '
60                            Kanarraville Town  _data_60718  entries with ' '
61                5C Legacy Preparatory Academy  _data_60727  entries with ' '

[62 rows x 3 columns]

In [34]:
df_valid.head()

                               entity_name    batch_num error_type
0                             PAROWAN CITY  _data_58762       pass
1                           TOWN OF JOSEPH  _data_58821       pass
2                          CITY OF MILFORD  _data_58834       pass
3  Wellsville-Mendon Conservation District  _data_58871       pass
4                  OAKLEY CITY CORPORATION  _data_58876       pass